@font-face {
    font-family: 'Graphik';
    src: url("../fonts/GraphikLCG-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Graphik';
    src: url("../fonts/GraphikLCG-Semibold.ttf");
    font-weight: 600;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #000000;
    width: 100%;
}

.nav {
    padding: 25px 50px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: 'Graphik';
    min-width: 320px;
}

.navigation {
    display: flex;
    align-items: center;
}

.logotype {
    width: 130px;
}

.nav-bar {
    width: 592px;
    display: flex;
    justify-content: space-evenly;
}

.list {
    font-family: 'Graphik';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.button {
    display: flex;
}

.button-one {
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #000000;
    background-color: white;
    cursor: pointer;
    margin-right: 15px;
}

.button-two {
    width: 120px;
    height: 45px;
    background: #FF6336;
    border: none;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.fix-size {
    max-width: 1320px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.first-container {
    margin-top: 129px;
    margin-bottom: 172px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.info-container {
    width: 550px;
    font-family: 'Graphik';
    color: #000000;
}

.name {
    width: 552px;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    padding-bottom: 51px;
}

.text {
    width: 471px;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 51px;
}

.terms {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    padding-top: 25px;
}

.button-container {
    width: 330px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.first {
    width: 160px;
    height: 60px;
    margin-right: 0;
}

.pic1 {
    width: 759px;
    align-self: center;
}

.second-container {
    background: #FF9C7D;
    font-family: 'Graphik';
}

.second-name {
    width: 720px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    padding-top: 108px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.logo-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 105px;
}

.third-container {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
    font-family: 'Graphik';
}

.info-container2 {
    width: 645px;
    align-self: center;
}

.name2 {
    width: 493px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 30px;
}

.text2 {
    width: 520px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

.link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}

.text-link {
    color: #000000;
}

.picture {
    width: 625px;
}

.top {
    padding-top: 250px;
}

.left {
    padding-left: 138px;
}

.fourth-container {
    background: #FFF8E4;
}

.title4, .title5 {
    padding-top: 120px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    font-family: 'Graphik';
}

.card-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 93px;
    padding-top: 77px;
    font-family: 'Graphik';
}

.card {
    width: 330px;
    text-align: center;
}

.card-pic {
    width: 160px;
    height: 120px;
}

.name3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.text3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom23 {
    margin-bottom: 23px;
}

.bottom26 {
    margin-bottom: 26px;
}

.title5 {
    padding-top: 154px;
    padding-bottom: 75px;
}

.card-block2 {
    display: flex;
    justify-content: center;
    margin-bottom: 217px;
    text-align: center;
    font-family: 'Graphik';
}

.card2 {
    width: 439px;
    text-align: left;
}

.card-name {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
}

.card-text {
    width: 409px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.card-link {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
}

.card-pic1 {
    margin-bottom: 49px;
    width: 145px;
    height: 201px;
}

.card-pic2 {
    margin-top: 17px;
    margin-bottom: 67px;
    width: 179px;
    height: 166px;
}

.card-pic3 {
    margin-top: 9px;
    margin-bottom: 58px;
    width: 179px;
    height: 183px;
}

.sixth-container {
    background: #C9E8F2;
}

.blue-block {
    padding-top: 63px;
    padding-bottom: 105px;
    display: flex;
    justify-content: space-between;
    font-family: 'Graphik';
}

.info-container6 {
    width: 870px;
    text-align: left;
}

.text6 {
    width: 895px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 23px;
}

.photo {
    width: 310px;
    height: 310px;}

.signature {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 7px;
}

.revolut {
    width: 112px;
    height: 25px;
}

.seventh-container {
    background: #DABC98;
}

.orange-container {
    padding-top: 80px;
    padding-bottom: 84px;
    display: flex;
    font-family: 'Graphik';
}

.text-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.card-container {
    border-left: 1px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 481px;
}

.orange-card {
    flex-direction: column;
    align-self: center;
}

.cake {
    width: 176px;
    height: 154px;
}

.orange-text {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    width: 461px;
    margin-left: 67px;
    margin-right: 124px;
    align-self: center;
}

.one {
    width: 128px;
}

.two {
    width: 150px;
}

.orange-card-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
}

.stars {
    width: 128px;
    margin-bottom: 14.5px;
}

.g2, .capterra {
    margin-bottom: 20px;
}

.white-container {
    text-align: center;
    margin: 165px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Graphik';
}

.title8 {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    width: 791px;
}

.text8 {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    width: 539px;
}

.bird {
    margin-top: 25px;
    margin-bottom: 32px;
}

.integrations {
    width: 193px;
    height: 60px;
}

.ninth-container {
    background: #FF9C7D;
    text-align: center;
}

.orange-container2 {
    padding-top: 119px;
    padding-bottom: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Graphik';
}

.text9 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 29px;
    margin-bottom: 54px;
}

.free {
    background: #000000;
    width: 160px;
    height: 60px;
}

.title9 {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    width: 784px;
}

.footer {
    background: #EEEEEE;
}

.grey-container {
    display: flex;
    flex-direction: row;
    font-family: 'Graphik';
}

.grey-card {
    flex-direction: column;
    width: 370px;
    margin-right: 70px;
    display: flex;
    padding-top: 92px;
    padding-bottom: 95px;
}

.footer-name {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 28px;
}

.velo {
    width: 300px;
    height: 300px;
    margin-bottom: 31px;
}

.specialized {
    width: 80px;
    height: 32px;
    margin-bottom: 11px;
}

.footer-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    width: 290px;
}

.footer-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}

.footer-navigation {
    display: flex;
    width: 850px;
    height: auto;
    justify-content: space-between;
    padding-top: 97px;
}

.footer-nav {
    flex-direction: column;
}

.nav-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 21px;
}

.footer-nav-bar {
    width: 187px;
}

.item {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    color: #000000;
}

.gap {
    margin-bottom: 15px;
}

.basement {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    border-top: 1px solid black;
    padding-bottom: 48px;
}

.left-basement {
    width: 411px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.basement-info, .basement-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.basement-text {
    width: 301px;
}

.basement-info {
    width: 109px;
    margin-right: 80px;
}


/* ------------@MEDIA STARTS HERE-------------- */


@media (max-width: 1320px) {
    .nav {
        flex-direction: column;
    }

    .navigation {
        margin-bottom: 20px;
    }

    .button-one, .button-two {
        width: 245px;
    }

    .first-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .first-container, .text, .third-container, .card-block2 {
        flex-direction: column-reverse;
        align-items: center; 
        text-align: center;
        width: auto;
    }

    .third-container {
        margin: 0;
        margin-top: 90px;
    }

    .pic1 {
        margin-bottom: 70px;
        width: 700px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: auto;
    }

    .info-container2 {
        width: auto;
        margin-bottom: 50px;
        padding: 0;
    }

    .picture {
        margin-bottom: 60px;
        padding: 0;
    }
    
    .order1 {
        order: 8;
    }
    
    .order2 {
        order: 7;
    }
    
    .order3 {
        order: 6;
    }
    
    .order4 {
        order: 5;
    }
    
    .order5 {
        order: 4;
    }
    
    .order6 {
        order: 3;
    }
    
    .order7 {
        order: 2;
    }
    
    .order8 {
        order: 1;
    }

    .card-pic {
        margin-top: 20px;
    }

    .card-block2 {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .card2 {
        align-items: center; 
        text-align: center;
        width: auto;
        padding-bottom: 30px;
    }

    .info-container6, .text6, .text9 {
        align-items: center; 
        width: auto;
    }

    .orange-container {
        text-align: center;
        width: auto;
    }

    .text-container {
        margin-bottom: 50px;
    }

    .card-container {
        width: 600px;
    }

    .orange-text {
        width: auto;
        margin: 0 auto;
        padding: 0 15px;
        text-align: center;
    }

    .orange-card {
        width: 150px;
    }

    .bird {
        width: 100%;
    }

    .grey-container {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .grey-card {
        margin-right: 0;
        padding-bottom: 0;
        align-items: center; 
        text-align: center;
        width: auto;
    }
    
    .footer-navigation {
        padding: 50px 0;
        width: auto;
    }
}

@media (max-width: 770px) {
    .navigation {
        flex-direction: column;
    }

    .logotype {
        width: 200px;
        padding-bottom: 20px;
    }     

    .pic1, .picture {
        width: 100%;
    }

    .logo-line {
        flex-direction: column;
        align-items: center; 
        text-align: center;
        padding-bottom: 70px;
    }

    .logo-line a {
        padding-top: 30px;
    }

    .second-name {
        width: auto;
    }

    .title4, .title5 {
        padding-top: 100px;
    }

    .blue-block, .footer-navigation {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 60px;
    }

    .revolut {
        margin-bottom: 20px;
    }

    .cake {
        width: 30%;
    }

    .orange-text {
        font-size: 30px;
        line-height: 130%;
    }

    .orange-container {
        display: block;
    }

    .text6 {
        font-size: 25px;
    }

    .photo {
        align-self: center;
    }

    .card-container {
        text-align: center;
        width: auto;
    }

    .title8, .title9 {
        width: auto;
    }

    .integrations, .free {
        width: 100%;
    }

    .basement-text {
        width: auto;
        padding: 0 20px;
    }

    .footer-nav {
        text-align: center;
        padding-top: 45px;
    }

    .footer-navigation {
        padding-top: 0;
    }
}


@media (max-width: 560px) {
    .button, .button-one, .button-two {
        display: block;
        width: 100%;
    }

    .button .button-one {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .nav-bar {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .nav-bar > li {
        margin-bottom: 15px;
    }

    .list {
        font-size: 18px;
    }

    .info-container {
        width: 100%;
    }

    .name, .name2, .title4, .title5 {
        width: auto;
        font-size: 35px;
        line-height: 110%; 
    }

    .text, .text2, .text3, .card-text {
        width: auto;
        font-size: 18px;
        line-height: 130%;
    }

    .button-container .button-one {
        margin-left: 10px;
    }

    .second-name {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 30px;
        line-height: 110%;
    }

    .title4, .card-block, .title5 {
        padding-top: 70px;
    }

    .card-block2 {
        margin-bottom: 50px;
    }

    .text6, .text8, .text9 {
        width: auto;
        font-size: 20px;
        line-height: 130%;
    }

    .title8, .title9 {
        font-size: 35px;
        line-height: 110%; 
        margin-bottom: 30px;
    }

    .white-container {
        margin: 80px 0;
    }

    .footer-name {
        font-size: 30px;
    }

    .basement, .left-basement {
        flex-direction: column;
        align-items: center;
    }

    .basement-info, .left-basement {
        text-align: center;
        width: auto;
        margin: 0;
        padding: 0;
    }

    .basement-text, .basement-info {
        padding-top: 15px;
    }
}